<% form_for(UploadFile.new, :url => upload_files_path(:format => 'js'), :html => { :multipart => true, :target => 'upload_frame'}) do |f| %>
  <%= hidden_field_tag("blog_id", @blog.id) %>
  <%= f.file_field :uploaded_data %>
  <%= f.submit 'create' %>
<% end %>

<div id="files">
  <% @blog.upload_files.each do |upload_file| %>
    <%= link_to_function image_tag(upload_file.public_filename, :size => "120x100"), "alert('[img]#{upload_file.public_filename.gsub("_", "\\\\\\_")}[/img]')" %>
  <% end %>
</div>
<iframe name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank">
</iframe>
