<div class="right"><%= will_paginate @blogs %></div>
<br />
<%= render :partial=> "new" %>

<% @blogs.each do |@blog| %>
  <% if @blog.title %>
    <%= render(:partial => "show") %> 
  <% end %>
<% end %>

<%= will_paginate @blogs %>
