<div class="comment" >
  <% if @comment.web_site %>
    <hn><%= link_to h(@comment.name), h(@comment.web_site) %></hn>
  <% else %>
    <hn><%= @comment.name%></hn>
  <% end %>
  <hd><%= @comment.created_at.to_date %></hd>
  <br>
  <div class="content">
    <%=g_textile @comment.content %>
  </div>
  <br>
</div>
