<br><br>
<% @comments = @blog.comments %>
<%= link_to_function "Comments (#{@comments.size})", "$('comments#{@blog.id}').toggle();" %>
<div id="comments<%= @blog.id %>" style="display:none;" class="comments">
  <% cache @comments do %>
    -----------------------------------------------------------
    <% @comments.each do |comment| %>
      <% @comment = comment %>
      <%= render(:partial => "comments/show_comment") %>
      ----------------------------
    <% end %>
  <% end %>
  <%= render(:partial => "comments/new") %>
</div>
<br><br><br>
