.sanskrit {
    border: 1px dashed #c99;
    padding: 0.5em;
}

.fancy {
    border: 1px inset #000;
    width: 100%;
}

.fancy iframe, .fancy textarea {
    width: 100%;
    border: none;
    height: 25em;
    background: #FFF;
}

.fancy textarea {
    
}

.fancy ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0.15em;
    background: #ddd;
}

.fancy ul li {
    float: left;
}

.fancy ul li a {
    display: block;
    padding: 0 0.25em;
    color: #000;
    text-decoration: none;
    border: 1px solid #ddd;
    outline: none;
}

.fancy ul li a:hover, .fancy ul li a:focus {
    border-style: outset;
}

.fancy ul li a:active, .fancy ul li.active a {
    border-style: inset;
}

.fancy ul li.active a {
    background-color: #bbb;
}

.fancy ul li.strong a {
    font-weight: bold;
}

.fancy ul li.blue a {
    color: blue;
}  

.fancy ul li.red a {
    color: red;
} 

.fancy ul li.green a {
    color: green;
} 

.fancy ul li.em a {
    font-style: italic;
}

.fancy ul li.ins a {
    text-decoration: underline;
}

.fancy ul li.del a {
    text-decoration: line-through;
}

.fancy ul li.link a {
    text-decoration: underline;
    color: #00f;
}

.fancy ul li.unlink a {
    text-decoration: underline;
    color: #f00;
}


h, h1, h2, h3{font-weight:bold; }
h1 {font-size:38px;margin:.5em 0;}
h2 {font-size:16px;}
h3 {font-size:14px;line-height:0.5;margin-bottom:0.1em}
h5 {font-size:12px;line-height:0.1;margin-bottom:0.5em,font-weight: normal;}
h {font-size:14px;line-height: 260%;}

body {
    margin: 0px;
    padding: 0px;
    background: #000000 url(images/img01.jpg) repeat-x left top;
    font: 13px Arial, sans-serif;
    color: #D9D9D9;
}

hd {
    font-size: 12px;
    font-style: italic;
    color: #666666;
}

hn {
    font-size: 15px;
    font-weight: bold;
}

hv {
    font-size: 16px;
    color: blue;
}

ht {
    font-size: 24px;
   
}

ht a{
    color: #E98C08;
}

ol, ul {
    margin-bottom: 1.8em;
    line-height: 100%;
}

a {
    color: #7ECE05;
}

a :hover {
    text-decoration: none;
    color: #F1F1F1;
}

a img {
    border: none;
}

/* Header */

#header {
    width: 1000px;
    height: 100px;
    margin: 0px auto;
    color: #000000;
}

#header a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Logo */

#logo {
    float: left;
}

#logo h1, #logo p {
    margin: 0px;
    padding-left: 83px;
    line-height: normal;
    font-weight: normal;
    color: #FFFFFF;
}

#logo h1 {
    padding: 25px 0px 0px 0px;
}

/* Menu */

#menu {
    float: right;
}

#menu ul {
    margin: 0px;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    margin: 40px 0px 0px 1px;
}

#menu a {
    display: block;
    width: auto;
    height: 20px;
    padding: 5px 10px;
}

#menu a:hover {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
    text-decoration: none;
}

#menu .active {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
}

#menu .active a {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
}

/* Page */

#page {
    width: 1000px;
    margin: 0px auto;
    padding: 20px 0px;
}

/* Content */

#my_content {
    float: right;
    width: 680px;
}

.post {
    top: 100px;
    margin: 0px 0px 30px 0px;
}

.post .title {
    margin: 0px;
    padding: 0px 0px 5px 0px;
}


.post .meta {
    font-weight: bold;
}

.post .byline {
    margin: 0px;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 200px;
    position: fixed;
}

#sidebar-bgtop {
    height: 3px;
    background: url(images/img04.gif) no-repeat left top;
}

#sidebar-bgbtm {
    height: 3px;
    background: url(images/img05.gif) no-repeat left bottom;
}

#sidebar-content {
    padding: 0px 20px 10px 10px;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar li ul {
    margin-bottom: 1.8em;
}

#sidebar li li {
    padding-bottom: 8px;
    margin-left: 0px;
}

#sidebar h2 {
    background: url(images/img06.jpg) no-repeat left 50%;
    padding-left: 10px;
    font-size: 1.4em;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#search {
}

#search form {
    margin-bottom: 1.8em;
    padding: 0px;
}

#search fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

#search #s {
    width: 160px;
}

/* Footer */

#footer {
    clear: both;
    height: 100px;
    margin: 0px auto;
    background: url(images/img01.jpg) repeat-x left top;
    color: #000000;
}

#footer p {
    padding: 50px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    font-size: smaller;
}

#footer a {
    color: #7ECE05;
}

.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 13px;
  margin: 4px 0;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
/*buttuns*/
.fixed_buttons {
    top: 250px;
    right: 30px;
    position: absolute;
}

.right {
    float: right;
}

.left {
    float: left;
}

.comments {
    margin-right: 150px;
}
}
