h1, h2, h3{font-weight:bold; }
h1 {font-size:28px;margin:.5em 0;}
h2 {font-size:16px;margin-bottom:1em;}
h3 {font-size:14px;line-height:1.2;margin:.5em 0;}

body {
    margin: 0px;
    padding: 0px;
    background: #000000 url(images/img01.jpg) repeat-x left top;
    font: 13px Arial, Helvetica, sans-serif;
    color: #D9D9D9;
}

hd {
    font-size: 15px;
    color: #A4A4A4;
}

hv {
    font-size: 16px;
    color: blue;
}

ht {
    font-size: 22px;
    color: green;
}

ol, ul {
    margin-bottom: 1.8em;
    line-height: 160%;
}

a {
    color: #7ECE05;
}

a:hover {
    text-decoration: none;
    color: #7ECE05;
}

a img {
    border: none;
}

/* Header */

#header {
    width: 1000px;
    height: 100px;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Logo */

#logo {
    float: left;
}

#logo h1, #logo p {
    margin: 0px;
    padding-left: 83px;
    line-height: normal;
    font-weight: normal;
    color: #FFFFFF;
}

#logo h1 {
    padding: 25px 0px 0px 0px;
}

/* Menu */

#menu {
    float: right;
}

#menu ul {
    margin: 0px;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    margin: 40px 0px 0px 1px;
}

#menu a {
    display: block;
    width: auto;
    height: 20px;
    padding: 5px 10px;
}

#menu a:hover {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
    text-decoration: none;
}

#menu .active {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
}

#menu .active a {
    background: #7ECE05 url(images/img02.jpg) repeat-x 0px 0px;
}

/* Page */

#page {
    width: 1000px;
    margin: 0px auto;
    padding: 40px 0px;
}

/* Content */

#my_content {
    float: right;
    width: 680px;
}

.post {
    margin: 0px 0px 30px 0px;
}

.post .title {
    margin: 0px;
    padding: 0px 0px 5px 0px;
}


.post .meta {
    font-weight: bold;
}

.post .byline {
    margin: 0px;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 160px;
}

#sidebar-bgtop {
    height: 3px;
    background: url(images/img04.gif) no-repeat left top;
}

#sidebar-bgbtm {
    height: 3px;
    background: url(images/img05.gif) no-repeat left bottom;
}

#sidebar-content {
    padding: 0px 20px 20px 20px;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar li ul {
    margin-bottom: 1.8em;
}

#sidebar li li {
    background: url(images/img05.jpg) no-repeat left 50%;
    margin-left: 5px;
    padding-left: 10px;
}

#sidebar h2 {
    background: url(images/img06.jpg) no-repeat left 50%;
    padding-left: 15px;
    font-size: 1.4em;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#search {
}

#search form {
    margin-bottom: 1.8em;
    padding: 0px;
}

#search fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

#search #s {
    width: 160px;
}

/* Footer */

#footer {
    clear: both;
    height: 120px;
    margin: 0px auto;
    background: url(images/img01.jpg) repeat-x left top;
    color: #000000;
}

#footer p {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    font-size: smaller;
}

#footer a {
    color: #7ECE05;
}

.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
/*buttuns*/
.chinese_fixed_buttons {
    top: 250px;
    right: 16px;
    position: absolute;
}

.english_fixed_buttons {
    top: 673px;
    right: 16px;
    position: absolute;
}


.right {
    float: right;
}

.left {
    float: left;
}