<% @blog_groups.each do |@blog_group| %>
<%= render(:partial => "show") %> 
<% end %>
<br />
<div class="meta">
  <p class="links">
    <%= link_to 'new', new_blog_group_path if admin? %>
  </p>
</div>
