<br><br><br><div class="right"><img src="http://s3.amazonaws.com/recordings.idapted.com/upload_files/47/IMG_2396.jpg" height="150" width="135"></div><br><br><br>
<%= g_textile @about %>
<br><br><br><br><br><br><br><br><br><br><br><br><br>


