<br><br><br>

My name is 张哲(Gary Zhang, zhangzhe). I live in BeiJing China.
<br>
<br>
I am a programmer. Right now I work for <a target="_blank" style="color: blue;" href="http://www.idapted.com/"><u>idapted</u></a>. 
<br>

I love my job. I believe that my work is good for people and making the world better. 
<br>

I love beautiful code, I am trying to write beatiful code everyday. I am very happy with this.
<br>


<br>

In spare time I like exercise. basketball is my favorite. I also like cycling, running and swimming. I took part in two marathons, one triathlon, one ironman and lots of other games. 
<br>


<br>

I work as a programmer since 2007. Right now I am using Ruby On Rails building the <a target="_blank" style="color: blue;" href="http://www.eqenglish.com/"><u>best e-learning system</u></a>. 
<br>

I like Ruby On Rails, Ubuntu, Emacs. 
<br><br>

Visit <a target="_blank" style="color: blue;" href="http://github.com/zhangzhe"><u>here</u></a> to see more about my apps. Anything unclean please email me at gary20071226@gmail.com. 
<br><br>
I will share in this blog about most of technique things I met and part of my personal life. hope you enjoy it.



<br>




<br>


<br>

Thank:)
  
