<h3><%= link_to "RSS All", blogs_path(:rss) %></h3>
<h3><%= link_to "RSS Chinese", chineses_path(:rss) %></h3>
<h3><%= link_to "RSS English", englishs_path(:rss) %></h3>
<% 12.times do %>
  <br>
<% end %>
